appdirs==1.4.4
attrs==19.3.0
Babel==2.6.0
beautifulsoup4==4.9.1
cached-property==1.5.1
certifi==2020.4.5.2
chardet==3.0.4
decorator==4.3.0
defusedxml==0.6.0
docutils==0.14
feedparser==5.2.1
gevent==1.1.2 ; sys_platform != 'win32' and python_version < '3.7'
gevent==1.3.7 ; sys_platform != 'win32' and python_version >= '3.7'
greenlet==0.4.10 ; python_version < '3.7'
greenlet==0.4.15 ; python_version >= '3.7'
html2text==2018.1.9
idna==2.8
isodate==0.6.0
Jinja2==2.10.1
libsass==0.17.0
lxml==4.5.1
Mako==1.0.7
MarkupSafe==1.1.0
mock==2.0.0
num2words==0.5.6
ofxparse==0.19
passlib==1.7.1
pbr==5.4.5
Pillow==5.4.1
polib==1.1.0
psutil==5.6.6
psycopg2==2.7.7; sys_platform != 'win32' and python_version < '3.8'
psycopg2==2.8.3; sys_platform == 'win32' or python_version >= '3.8'
pydot==1.4.1
pyparsing==2.2.0
PyPDF2==1.26.0
pyserial==3.4
python-dateutil==2.7.3
python-stdnum==1.13
pytz==2019.1
reportlab==3.5.13
requests==2.21.0
requests-toolbelt==0.9.1
six==1.15.0
soupsieve==2.0.1
urllib3==1.24.3
vatnumber==1.2
vobject==0.9.6.1
Werkzeug==0.14.1
zeep==3.2.0

# for development:
odoo-rpc-client==1.0.0
